<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fda4c316-eb54-4449-870c-8f15cd7cf82e/resourcegroups/DefaultResourceGroup-SEA/providers/Microsoft.Web/sites/BanVeDiTourDuLich20210101225224</ResourceId>
    <ResourceGroup>DefaultResourceGroup-SEA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://banveditourdulich20210101225224.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>banveditourdulich20210101225224.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BanVeDiTourDuLich20210101225224</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BanVeDiTourDuLich20210101225224</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:banveditourdulichdbserver.database.windows.net,1433;Initial Catalog=BanVeDiTourDuLich_db;User ID=NguyenCong@banveditourdulichdbserver;Password=Hocngaydi123" Name="Data Source=tcp:banveditourdulichdbserver.database.windows.net,1433;Initial Catalog=BanVeDiTourDuLich_db;User Id=NguyenCong@banveditourdulichdbserver;Password=Hocngaydi123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BanVeDiTourDuLich.DataContext, BanVeDiTourDuLich" MigrationConfiguration="BanVeDiTourDuLich.Migrations.Configuration, BanVeDiTourDuLich" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:banveditourdulichdbserver.database.windows.net,1433;Initial Catalog=BanVeDiTourDuLich_db;User Id=NguyenCong@banveditourdulichdbserver;Password=Hocngaydi123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>