
@{
    ViewBag.Title = "ChiTietChuyenDi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="project-wrap">
                    <a href="#" class="img" style="background-image: url(images/destination-1.jpg)"></a>
                </div>
            </div>
            <div class="motachitiet">
                <div class="sec1">
                    <span class="diadiem">Điểm đến: HCM</span>
                </div>
                <div class="sec2">
                    <span class="ngaykhoihanh">Khởi hành: 21-12-2020</span>
                    <span class="songay">3 ngày</span>
                    <span class="noikhoihanh">HN</span>
                </div>
                <div class="sec3">
                    <div style="margin-bottom: 7px;" itemscope="" itemtype="http://schema.org/PriceSpecification">
                        <span class="price" itemprop="price" content="9290000">9,290,000</span>&nbsp;<span class="unit"
                                                                                                           itemprop="priceCurrency" content="VND">đ</span>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">
                        <a href="" class="btn btn-book1 btn-md">
                            <i class="fas fa-cart-plus"></i>&nbsp;&nbsp;Đặt ngay
                        </a>
                    </div>
                </div>
                <div class="sec4">
                    <ul>
                        <li><span class="flaticon-shower"></span>2</li>
                        <li><span class="flaticon-king-size"></span>3</li>
                        <li><span class="flaticon-mountains"></span>Near Mountain</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="chuongtrinhtour mg-bot30">
    <div class="title-lg">
        <h2>Chương trình tour</h2>
    </div>
    <div class="list">
        <div class="list__item">
            <div class="list__time">
                <div class="num">Ngày 01</div>
                <div class="day">20-10-2020</div>
            </div>
            <div class="list__border"></div>
            <div class="list__desc">
                <h3 class="font500 name">
                    <img src="https://travel.com.vn/Content/ThemeHe/img/i-marker.png"
                         alt="marker">&nbsp;&nbsp;&nbsp;TP.HCM - NỘI BÀI (HÀ NỘI) - HÀ GIANG (Ăn trưa, tối)
                </h3>
                <div class="d1 detail">
                    <title></title>
                    <div>
                        <div>
                            Quý khách tập trung tại sân bay Tân Sơn Nhất (ga trong nước). Hướng dẫn viên hướng dẫn làm thủ tục cho
                            đoàn đáp chuyến bay sáng đi <a href="https://travel.com.vn/ha-noi/tour-ha-noi.aspx?utm_source=internalbl&amp;utm_medium=click&amp;utm_campaign=ATLinks"
                                                           target="_blank">Hà Nội</a>. Đến sân bay Nội Bài, xe đón đoàn và đưa đi <a href="https://travel.com.vn/ha-giang/tour-ha-giang.aspx?utm_source=internalbl&amp;utm_medium=click&amp;utm_campaign=ATLinks"
                                                                                                                                     target="_blank">Hà Giang</a>.
                        </div>
                        <div>
                            -&nbsp; &nbsp; &nbsp; Trên đường đi <strong>
                                chiêm ngưỡng phong cảnh thiên nhiên thơ mộng, hữu tình của
                                núi rừng Tây Bắc
                            </strong> với những đồi chè, rừng cọ xanh mướt, ruộng bậc thang trên các sườn đồi.
                        </div>
                        <div>
                            -&nbsp; &nbsp; &nbsp; <strong>Thôn Hạ Thành </strong>- nơi đây còn lữu giữ các phong tục tập quán và
                            những nét văn hóa đặc sắc của dân tộc Tày như: nhạc cụ, trang phục, các điệu hát cọi, hát then… vẫn được
                            đồng bào sử dụng trong những dịp lễ hội.&nbsp;
                        </div>
                        <div>
                            Nghỉ đêm tại Hà Giang.
                        </div>
                    </div>

                </div>
                <div class="an-hien ah1">
                    <div class="hienra">
                        <a href="#"> Xem thêm &nbsp;<i class="fas fa-arrow-down"></i></a>
                    </div>
                    <div class="andi">
                        <a href="#"> Ẩn đi &nbsp;<i class="fas fa-arrow-up"></i></a>
                    </div>
                </div>
                <div class="border"></div>
            </div>
        </div>
        <div class="list__item">
            <div class="list__time">
                <div class="num">Ngày 02</div>
                <div class="day">21-10-2020</div>
            </div>
            <div class="list__border"></div>
            <div class="list__desc">
                <h3 class="font500 name">
                    <img src="https://travel.com.vn/Content/ThemeHe/img/i-marker.png" alt="marker">&nbsp;&nbsp;&nbsp;HÀ GIANG
                    - ĐỒNG VĂN (Ăn sáng, trưa, tối)
                </h3>
                <div class="d2 detail">


                    <title></title>


                    <div style="text-align: justify;">
                        <div>
                            Đoàn khởi hành đi <a href="https://travel.com.vn/ha-giang/tour-dong-van.aspx?utm_source=internalbl&amp;utm_medium=click&amp;utm_campaign=ATLinks"
                                                 target="_blank">Đồng Văn</a>, trên đường tham quan:
                        </div>
                        <div>
                            -&nbsp; &nbsp; &nbsp;<strong>Cổng trời Quản Bạ:</strong> nơi tiếp giáp giữa trời và đất, ngắm thị trấn
                            Tam Sơn và danh thắng Núi Đôi.
                        </div>
                        <div>
                            -&nbsp; &nbsp; &nbsp;Ăn trưa tại Yên Minh (quán cơm bình dân địa phương).
                        </div>
                        <div>
                            -&nbsp; &nbsp; &nbsp;<strong>Sủng Là</strong>: nơi được biết đến với bối cảnh phim nổi tiếng “Chuyện
                            tình của Pao”.
                        </div>
                        <div>
                            -&nbsp; &nbsp; <strong>Làng văn hóa Lũng Cẩm (thuộc xã Sũng Là),</strong> men theo những hàng ngô xanh
                            mướt dọc hai bên đường đoàn vào tham quan làng với những nét văn hoá đặc sắc của 3 dân tộc Lô Lô, Mông
                            và Hán.&nbsp;
                        </div>
                        <div>
                            -&nbsp; <strong>&nbsp; &nbsp;Nhà Vua Mèo “Vương Chí Sình”: </strong>công trình kiến trúc đẹp và rất độc
                            đáo của vùng cao nguyên núi đá.&nbsp;
                        </div>
                        <div>
                            -&nbsp; &nbsp; &nbsp;Cột cờ Lũng Cú: nơi địa đầu điểm Cực Bắc Tổ Quốc với lá cờ 54m2 tượng trưng cho 54
                            dân tộc anh em.
                        </div>
                        <div>
                            -&nbsp; &nbsp; &nbsp; Bãi đá cổ Đồng Văn
                        </div>
                        <div>
                            <strong>Nghỉ đêm tại Đồng Văn.</strong>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <strong>Ghi chú: </strong>Điểm tham quan Cột Cờ Lũng Cú sẽ không tham quan được trong trường
                            hợp thời tiết không thuận lợi.
                        </div>
                    </div>



                </div>
                <div class="an-hien ah2">
                    <div class="hienra">
                        <a href="#"> Xem thêm &nbsp;<i class="fas fa-arrow-down"></i></a>
                    </div>
                    <div class="andi" style="display: none;">
                        <a href="#"> Ẩn đi &nbsp;<i class="fas fa-arrow-up"></i></a>
                    </div>
                </div>
                <div class="border"></div>
            </div>
        </div>
    </div>
</div>

