
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThatBai</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
<script>
    window.alert("Thanh Toán Thất Bại");
    window.location.href = "/"
</script>